@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

.buttonMenu{
    
    background-color: #1c1919; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-family: Impact, fantasy;

}
.hem{
    
    font-family: Trebuchet MS, sans-serif;
    color: black;
    display: flex;
    align-self: center;
    text-align: center;
    position: relative;
    left: 1050px;
}
@media screen and (max-width: 1600px){
    .hem{
        font-family: Trebuchet MS, sans-serif;
        color: black;
        display: flex;
        align-self: center;
        text-align: center;
        left: 200px;
    }
   
}
@media screen and (max-width: 900px){
    .hem{
        font-family: Trebuchet MS, sans-serif;
        color: black;
        display: flex;
        align-self: center;
        text-align: center;
        left: 10px;
    }
   
}
h1{
    position: relative;
    left: 1120px;
    top: 20px;
    font-size: 40px;
    font-family: Trebuchet MS, sans-serif;
    color: white;
    
}
.logo{
    position: relative;
    left: 50px;
    top: 24px;
}
.logoF{
    position: relative;
    left: 30px;
    bottom: -200px;
}
.textoF{
    position: relative;
    left: 50px;
    bottom: -215px;
}

.buttonMenu:hover{
    background-color: rgb(127, 128, 130);
    cursor: pointer;
}

.buttonsNavegacao{
    left: 800px;
    position: relative;
    bottom: 30px;
   
    
}
@media screen and (max-width: 1900px){
    .buttonsNavegacao{
        left: 600px;
        position: relative;
        bottom: 30px;
    }
   
}
.caixa-pesquisa{
    position: absolute;
    top: 4.5%;
    left: 88%;
    background-color: #1c1919;
    height: 20px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto-pesquisa{
    border: none;
    background: none;
    outline: none;
    padding: 0%;
    color: white;
    font-size: 16px;
    line-height: 20px;
    width: 0;
    transition: .3s;
}
.botao-pesquisa{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1c1919;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.caixa-pesquisa:hover > .texto-pesquisa{
    width: 200px;
    padding: 0 6px;
}

.caixa-pesquisa:hover > .botao-pesquisa{
    background-color: rgb(127, 128, 130);
}
.sinopse{
   
    left: 29%;
    bottom: 650px;
    position: relative;
    float: right;
}

.estrela{
    left: 33.6%;
    top: -395px;
    position: relative;
    float: right;
}
@media screen and (max-width: 1480px){
    .estrela{
        left: 41.5%;
        top: -375px;
        position: relative;
        float: right;
    }
   
}
@media screen and (max-width: 1200px){
    .estrela{
        left: 46%;
        top: -340px;
        position: relative;
        float: right;
    }
   
}
@media screen and (max-width: 1000px){
    .estrela{
        left: -27%;
        top: -670px;
        position: relative;
        float: right;
    }
   
}
.dt{
    padding: 10px;
}
.lancamentodt{
    background-color: rgb(55, 55, 55);
}


h2{
    position: relative;
    right: 600px;
    color: white;
    font-family: Trebuchet MS, sans-serif;
}
h4{
   
    position: relative;
    right: 600px;
    color: white;
    font-family: Trebuchet MS, sans-serif;
    width: 80%;
    
}
body{
    background-color: #aeaeae;
    
}

.dropdown{
    width: 200px;
    height: 100%;
    position: relative;
    left: 80%;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 10%;
   
}
.dropdown ul{
    list-style: none;
    position: relative;
    
}
.dropdown ul li{
    width: 150px;
    border-radius: 20px;
    
}
.dropdown ul ul{
    position: absolute;
    visibility: hidden;
    
}
.dropdown a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #fff;
    border-radius: 20px;
}
.dropdown li{
    text-align: center;
    background-color: #222;
    color: #fff;
    
}
.dropdown li:hover{
    background-color: rgb(67, 67, 67);
   
}
.dropdown ul:hover li{
    visibility: visible;
    border-radius: 20px;
    
}

.hdestaque{
    color: black;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position: relative;
    left: 1000px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
}
.card img{
    box-shadow: 20px 20px 50px 10px white;
}

@media screen and (max-width: 1000px){
    .cards{
        flex-direction: column;
    }
   
}
@media screen and (max-width: 1980px){
    .card{
        position: relative;
        left: 800px;
        top: 50px;
    }
   
}
@media screen and (max-width: 1780px){
    .card{
        position: relative;
        left: 600px;
        top: 50px;
    }
   
}
@media screen and (max-width: 1380px){
    .card{
        position: relative;
        left: 500px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
    }
   
}
@media screen and (max-width: 1380px){
    .card{
        position: relative;
        left: 10px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
    }
   
}
@media screen and (max-width: 1480px){
    .buttonsNavegacao{
        position: relative;
        left: 200px;
    }
   
}
@media screen and (max-width: 1200px){
    .buttonsNavegacao{
        flex-direction: column;
        display: flex;
        
    }
   
}
@media screen and (max-width: 1480px){
    h1{
        position: relative;
        left: 200px;
    }
   
}
@media screen and (max-width: 2300px){
    .dropdown{
        position: relative;
        top: -70px;
    }
   
}
@media screen and (max-width: 1800px){
    .dropdown{
        position: relative;
        top: -12px;
    }
   
}
.hava{
    color: black;
}

.avs1{
    padding-top: 50px;
    margin-right: 40px;
}
main.avs{
    display: flex;
    justify-content: center;
    
}
main.avs section.avs1 .icon{
    width: 64px;
    height: 64px;
}
main.avs section.avs1 img{
    width: 100%;
}
main.avs section.avs1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1rem 1.5rem;
    max-height: 256px;
    margin-left: 50px;
    border-radius: 20px;
}

@media screen and (max-width: 1380px){
    .avs{
        flex-direction: column;
        display: flex;
    }
   
}

@media screen and (max-width: 1380px){
    .avs1{
        margin-top: 10px;
    }
   
}

@media screen and (max-width: 1380px){
    .dropdown{
        position: relative;
        left: 100px;
        bottom: 20px;
    }
   
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.galeria{
    
    margin: 100px auto;
    width: 720px;
    height: 480px;
    position: relative;
    overflow: hidden;
}
.foto{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacao{
    25%{
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    50%{
        opacity: 0;
        
    }
}

.foto:nth-child(1){

}
.foto:nth-child(2){
    animation-delay: 5s;
}
.foto:nth-child(3){
    animation-delay: 10s;
}
.foto:nth-child(4){
    animation-delay: 15s;
}
.nov{
    color: #222;
    position: relative;
    left: 600px;
}
.sob{
    color: #222;
    float: right;
    position: relative;
    bottom: 930px;
    right: 2200px;
}
.novso{
    background-color: #fff;
    flex-direction: column;
    width: 1100px;
    border-radius: 20px;
}

.container1{
    margin-left: 20px;
    width: 700px;
    flex-direction: column;
    display: flex;
}
.container1 img{
    width: 300px;
    float: left;
    margin-right: 20px;
    
}
.container1 p{
    line-height: 24px;
}
.container2{
    margin-left: 20px;
    width: 700px;
    flex-direction: column;
    display: flex;
}
.container2 img{
    width: 300px;
    float: left;
    margin-right: 20px;
   
}
.container2 p{
    line-height: 24px;
}
.container3{
    margin-left: 20px;
    width: 700px;
    flex-direction: column;
    display: flex;
}
.container3 img{
    width: 300px;
    float: left;
    margin-right: 20px;
    
}
.container p{
    line-height: 24px;
}
.sobre{
    float: right;
    position: relative;
    bottom: 930px;
    right: 2200px;
}
@media screen and (max-width: 1900px){
    .novso{
        background-color: #fff;
        flex-direction: column;
        width: 900px;
        
    }
   
}
@media screen and (max-width: 1380px){
    .novso{
        background-color: #fff;
        flex-direction: column;
        width: 700px;
        
    }
   
}
@media screen and (max-width: 1000px){
    .novso{
        background-color: #fff;
        flex-direction: column;
        width: 500px;
        
    }
   
}
@media screen and (max-width: 1380px){
    .nov{
        color: #222;
        position: relative;
        left: 20px;
       
    }
   
}
@media screen and (max-width: 1380px){
    .container1{
        font-size: 9px;
    }
   
}
@media screen and (max-width: 1380px){
    .container2{
        font-size: 12px;
        
    }
   
}
@media screen and (max-width: 1380px){
    .container3{
        font-size: 12px;
        
    }
   
}
.lorem{
    position: relative;
    left: 1900px;
    top: 135px;
}
.ed{
    color: #222;
    float: right;
    position: relative;
    top: 250px;
    right: 2200px;
}
.edi{
    float: right;
    position: relative;
    bottom: 250px;
    right: 2200px;
}
.lorem1{
    position: relative;
    left: 1900px;
    top: 380px;
}
.redes{
    width: 100px;
    height: 50px;
    position: relative;
    left: 1895px;
    top: 370px;
    cursor: pointer;
}
@media screen and (max-width: 2400px){
    .sobre{
        float: right;
        position: relative;
        bottom: 930px;
        right: 1700px;
    }
}
@media screen and (max-width: 2300px){
    .sobre{
        float: right;
        position: relative;
        bottom: 930px;
        right: 1600px;
    }
}
@media screen and (max-width: 2000px){
    .sobre{
        float: right;
        position: relative;
        bottom: 930px;
        right: 1600px;
    }
}
@media screen and (max-width: 1900px){
    .sobre{
        float: right;
        position: relative;
        bottom: 930px;
        right: 1600px;
    }
}

@media screen and (max-width: 1600px){
    .sobre{
        display: none;
    }
}
footer{
    display: flex;
    padding-bottom: 5px;
}
footer .logof{
    float: right;
    margin-top: 36px;
    margin-bottom: 5px;
   
}
footer .tfooter{
    color: #fff;
    font-size: 30px;
    
}
